<app-company></app-company>
<mat-divider></mat-divider>
<p *ngIf="invoices.length == 0; else invoicesList">No items</p>

<ng-template #invoicesList>
    <h3>Total price: <b>{{totalPrice()}}</b></h3>
    <table mat-table [dataSource]="invoices" matSort>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
            <td mat-cell *matCellDef="let invoice"> {{invoice.id}} </td>
        </ng-container>
        <mat-text-column name="name"></mat-text-column>
        <mat-text-column name="count"></mat-text-column>
        <mat-text-column name="price"></mat-text-column>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
</ng-template>