mat-toolbar {
    height: 48px;
}

mat-sidenav {
    background-color: #3f51b5;
    color: white;
    padding-top: 40px;
}

.content {
    padding: 40px;

    @media(max-width: 960px) {
        padding: 15px;
    }
}