$font-primary: 'Open Sans', sans-serif;
$font-secondary: Helvetica, Arial, sans-serif;

$blue: #6667ab;
$white: #f5f5f5;

$background-primary: $blue;
$background-light: $white;

$text-light: $white;

$text-size-large: 20px;
$text-size-medium: 16px;
$text-size-small: 14px;